body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

li:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.yesil {
  color: green;
}

.turuncu {
  color: orange;
}

.kirmizi {
  color: red;
}

footer {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb {
  transition: background-color 0.2s ease-in-out;
}
.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Aydınlık Mod */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  li {
    background-color: #f0f0f0;
    color: #000000;
    border-color: #c0c0c0;
  }

  li:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  }

  .yesil {
    color: rgb(0, 128, 0);
  }

  .turuncu {
    color: rgb(255, 165, 0);
  }

  .kirmizi {
    color: rgb(255, 0, 0);
  }
}
/* Koyu Mod */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #e6e6e6;
  }

  li {
    background-color: #2b2b2b;
    color: #e6e6e6;
    border-color: #3c3c3c;
  }

  li:hover {
    box-shadow: 0px 0px 15px 5px rgba(230, 230, 230, 0.2);
  }

  .yesil {
    color: rgb(0, 200, 0);
  }

  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  li {
    padding: 10px;
    font-size: 18px;
  }
}
